<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Device-OnePlus 5 A5000 A0206">
		<parameter name="deviceQuery" value="@serialNumber='ad025e96'"/>
		<classes>
			<class name="AppliToolAbk.AndroidDemoTest"/>
		</classes>
	</test>
	<test name="Device-iPhone 7 plus b0172">
		<parameter name="deviceQuery" value="@serialNumber='ec5886be6fdc03aa1c987afc35d5e17203470457'"/>
		<classes>
			<class name="AppliToolAbk.IOSDemoTest"/>
		</classes>
	</test>
	<test name="Device-samsung S9 a0231">
		<parameter name="deviceQuery" value="@serialNumber='1c7a29c334037ece'"/>
		<classes>
			<class name="AppliToolAbk.AndroidDemoTest"/>
		</classes>
	</test>
</suite> <!-- Suite -->
